# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.Project1-jurassic-park.iml
/projectSettingsUpdater.xml
/modules.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

## --- .NET Standard ---
[Dd]ebug/
[Rr]elease/
bin/
obj/
publish/
.vs/

## --- Rider / JetBrains ---
.idea/
*.sln.dotSettings.user
*.user
.shelf/

## --- OS Specific ---
.DS_Store
Thumbs.db

## --- Secrets & Local Config ---
# We keep the main appsettings, but ignore the local development overrides
appsettings.Development.json
UserSecrets/