<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Jurassic Park Cinema</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#primaryNav"
                aria-controls="primaryNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="primaryNav">
            <div class="navbar-nav nav-links">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
                <NavLink class="nav-link" href="now-playing">Now Playing</NavLink>
                <NavLink class="nav-link" href="seat-selector">Seat Selector</NavLink>
                <NavLink class="nav-link" href="checkout">Checkout</NavLink>
            </div>
            <div class="account-action account-action-mobile d-lg-none mt-2">
                <ProfileMenu CssClass="w-100"/>
            </div>
        </div>
        <div class="account-action account-action-desktop d-none d-lg-flex">
            <ProfileMenu/>
        </div>
    </div>
</nav>
