.navbar-brand {
    font-size: 1.1rem;
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
}

.navbar > .container-fluid {
    position: relative;
    justify-content: center;
    min-height: 3.5rem;
}

.navbar-nav {
    margin: 0;
}

.navbar ::deep .nav-link.active {
    font-weight: 600;
}
