<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Jurassic Park Cinema</a>
        <div class="navbar-nav">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
            <NavLink class="nav-link" href="now-playing">Now Playing</NavLink>
            <NavLink class="nav-link" href="seat-selector">Seat Selector</NavLink>
            <NavLink class="nav-link" href="checkout">Checkout</NavLink>
        </div>
    </div>
</nav>